@charset "utf-8";
.shadow {
  margin-top: 27px;
  box-shadow: -2px 2px 5px 0px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -webkit-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -o-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -ms-box-shadow: -2px 2px 5px 0px #d2d2d2;
}
/*红色星号*/
.remind2 {
  background: url('../../images/images_contactus/remind.png') no-repeat 35% 69%;
}
.remind3 {
  background: url('../../images/images_contactus/remind.png') no-repeat 21% 69%;
}
.remind4 {
  background: url('../../images/images_contactus/remind.png') no-repeat 5% 69%;
}
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
}
ul,
ol {
  padding: 0px;
}
.BG {
  background-image: linear-gradient(180deg, #fcfcfc 0px, #fcfcfc 150px, transparent 5px);
}
/*表单主体*/
.content {
  padding: 2%;
}
.content .row_top .signup {
  height: 100px;
  border: 2px solid #cfcdcd;
  background: #fff;
  display: flex;
  align-items: center;
  zoom: 1;
}
.content .row_top .signup:after {
  content: '';
  display: block;
  clear: both;
}
.content .row_top .signup img {
  margin-left: 6%;
  float: left;
}
.content .row_top .signup h2 {
  margin-left: 25px;
  font-size: 30px;
  color: #1da297;
  margin-top: 10px;
}
.bottom {
  border-left: 2px solid #cfcdcd;
  border-bottom: 2px solid #cfcdcd;
  border-right: 2px solid #cfcdcd;
  background: #fcfcfc;
}
.registerform {
  margin-top: 30px;
}
.registerform .A {
  margin-top: 5px;
}
.registerform .form-group label {
  font-family: "微软雅黑";
  font-weight: 500;
}
.registerform div input[type=button] {
  display: block;
  width: 80px;
  margin: 30px auto;
  border-color: #646464;
  background-color: #FFF;
}
.registerform div input[type=button]:hover {
  color: #fff;
  background-color: #40b5d3;
  border-color: #40b5d3;
}
.register-gray {
  font: 14px "微软雅黑";
  color: #d4d2d2;
}
.redstar {
  color: red;
  font-size: 20px;
  margin-right: 5px;
}
.Validform_checktip {
  overflow: visible;
}
