@charset "utf-8";
/**/
/**/
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
}
.header_f {
  float: left;
}
.form-group{
  margin-top:40px;
}
.header_r {
  float: right;
}
.header_c {
  background-color: #f5f5f5;
}
.header_c .index_logo {
  padding-top: 1%;
  padding-bottom: 1%;
}
.header .form_long {
  display: inline-block;
  width: auto;
}
.header .loginbar {
  margin: 10px 15px 5% auto;
}
.header .loginbar a {
  color: #636363;
}
.header .form_text {
  height: 38px;
  background: url('../../images/images_common/search.png') no-repeat;
  padding-left: 35px;
  border-color: #2eb4a9;
  border-radius: 0px;
}
.header .btn_text {
  height: 38px;
  background-color: #2eb4a9;
  font-size: 22px;
  padding: 0px 6px;
  color: #fff;
  float: right;
  border: 1px solid #2eb4a9;
  border-radius: 0px;
}
.header .btn_text:hover {
  background-color: #109085;
}
.index_nav{
  border-bottom:1px solid #ccc;
  border-top:1px solid #ccc;
   box-shadow: 0px 0px 20px #ccc;
}
.nav_c {
  background-color: #ffffff;
  border-color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
}
.nav_c .navbar_btn {
  float: none;
  margin-right: 0px;
}
.nav_c .nav_fontc li a {
  height: 58px;
  line-height: 28px;
  color: #1d91af;
}
.nav_c .nav_fontc li a:hover {
  color: #db3b3b;
}
.nav_c .nav_fontc li a:focus {
  color: #db3b3b;
  background-color: #ffffff;
}
.nav_c ul li.actived a {
  line-height: 20px;
  color: #db3b3b;
  background-color: #ffffff;
  border-top: 4px solid #3bb8db;
  border-bottom: 4px solid #3bb8db;
}
.nav_c ul li.actived a:hover {
  color: #db3b3b;
  background-color: #ffffff;
}
.nav_c ul li.actived a:focus {
  color: #db3b3b;
  background-color: #ffffff;
}
.footer {
  color: #c8c8c8;
  background-color: #1d1d1d;
}
.footer .container {
  margin-top: 5%;
  padding-top: 5%;
}
.footer ul li {
  list-style: none;
  padding-bottom: 20px;
}
.footer ul li a {
  color: #c8c8c8;
}
.footer a {
  color: #fff;
}
.footer span {
  color: #00ccff;
  font-size: 18px;
  font-weight: 900;
}
.contect span {
  float: left;
  padding-left: 15px;
  padding-bottom: 35px;
}
.contect a {
  background-color: #3892a9;
  font-size: 18px;
  font-weight: 900;
  border: none;
}
.contect a:hover {
  color: #fff;
  background: #2ba4c3;
}
.address img,
.address p {
  float: left;
}
.address p {
  padding-top: 10px;
}
.address .address_img img {
  padding-top: 10px;
  padding-right: 6%;
}
.copyright {
  text-align: center;
}
.copyright p {
  margin: 10px auto;
}
.copyright span {
  color: #41e0d8;
}

/*logo*/
.top_title {
  cursor: default;
  text-shadow: 2px 3px 2px #cccccc;
}
.top_title span {
  font-size: 34px;
  font-weight: 900;
  font-family: '黑体';
  color: #16a398;
}
.top_underline {
  text-decoration: underline;
}
.footer_title {
  text-shadow: none;
}
@media (max-width: 767px) {
  .top_title span {
    font-size: 34px;
  }
}
@media (min-width: 768px) {
  .top_title span {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .top_title span {
    font-size: 34px;
  }
}
@media (min-width: 1200px) {
  .top_title span {
    font-size: 34px;
  }
}
/*logo*/

/*分页开始*/
.pagination {
  margin-top: 50px;
  margin-left:0;
  padding:0px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{
  color: #c62f2f;
  background-color: #ffffff;
  border-color: #c62f2f;
}
.pagination li a{
  padding:0px 3px;
  margin-left: 5px;
  border-radius: 2px;
  color: #000000;
  font-size: 12px;
  font-weight: 100;
  height:40px;
  line-height:40px;
}
.pagination input{
  width:40px;
  height:40px;
  margin-left: 5px;
  color: #000000;
  font-size: 12px;
  font-weight: 100;
  text-align: center;
}
 .pagego{
   border-radius: 2px;
  width:40px;
  height:40px;
  border:#ddd 1px solid;
  padding:10px 5px;
  color: #000000;
  font-size: 14px;
  font-weight: 100;
  margin-left:10px;
   cursor: pointer;
}
.pagination .pagego:hover,
.pagination .pagego:focus{
  text-decoration: none;
  color: #c62f2f;
  background-color: #ffffff;
  border-color: #c62f2f;
}
.pagination li a.fen {
  border-style: none;
}
/*分页结束*/
