@charset "utf-8";
/* less变量的公共部分css */
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
}
.header_f {
  float: left;
}
.header_r {
  float: right;
}
/* END less变量的公共部分css */
