@charset "utf-8";
/**/
/**/
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
}
.header_f {
  float: left;
}
.header_r {
  float: right;
}
.header_c {
  background-color: #f5f5f5;
}
.header_c .index_logo {
  padding-top: 1%;
  padding-bottom: 1%;
}
.header .form_long {
  display: inline-block;
  width: auto;
}
.header .loginbar {
  margin: 10px 15px 5% auto;
}
.header .loginbar a {
  color: #636363;
}
.header .form_text {
  height: 38px;
  background: url('../../images/images_common/search.png') no-repeat;
  padding-left: 35px;
  border-color: #2eb4a9;
  border-radius: 0px;
}
.header .btn_text {
  height: 38px;
  background-color: #2eb4a9;
  font-size: 22px;
  padding: 0px 6px;
  color: #fff;
  float: right;
  border: 1px solid #2eb4a9;
  border-radius: 0px;
}
.header .btn_text:hover {
  background-color: #109085;
}
.nav_c {
  background-color: #ffffff;
  border-color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
}
.nav_c .navbar_btn {
  float: none;
  margin-right: 0px;
}
.nav_c .nav_fontc li a {
  height: 58px;
  line-height: 28px;
  color: #1d91af;
}
.nav_c .nav_fontc li a:hover {
  color: #db3b3b;
}
.nav_c .nav_fontc li a:focus {
  color: #db3b3b;
  background-color: #ffffff;
}
.nav_c ul li.actived a {
  line-height: 20px;
  color: #db3b3b;
  background-color: #ffffff;
  border-top: 4px solid #3bb8db;
  border-bottom: 4px solid #3bb8db;
}
.nav_c ul li.actived a:hover {
  color: #db3b3b;
  background-color: #ffffff;
}
.nav_c ul li.actived a:focus {
  color: #db3b3b;
  background-color: #ffffff;
}
.footer {
  color: #c8c8c8;
  background-color: #1d1d1d;
}
.footer .container {
  margin-top: 5%;
  padding-top: 5%;
}
.footer ul li {
  list-style: none;
  padding-bottom: 20px;
}
.footer ul li a {
  color: #c8c8c8;
}
.footer a {
  color: #fff;
}
.footer span {
  color: #00ccff;
  font-size: 18px;
  font-weight: 900;
}
.contect span {
  float: left;
  padding-left: 15px;
  padding-bottom: 35px;
}
.contect a {
  background-color: #3892a9;
  font-size: 18px;
  font-weight: 900;
  border: none;
}
.contect a:hover {
  color: #fff;
  background: #2ba4c3;
}
.address img,
.address p {
  float: left;
}
.address p {
  padding-top: 10px;
}
.address .address_img img {
  padding-top: 10px;
  padding-right: 6%;
}
.copyright {
  text-align: center;
}
.copyright p {
  margin: 10px auto;
}
.copyright span {
  color: #41e0d8;
}
/*logo*/
.top_title {
  cursor: default;
  text-shadow: 2px 3px 2px #cccccc;
}
.top_title span {
  font-size: 34px;
  font-weight: 900;
  font-family: '黑体';
  color: #16a398;
}
.top_underline {
  text-decoration: underline;
}
.footer_title {
  text-shadow: none;
}
@media (max-width: 767px) {
  .top_title span {
    font-size: 34px;
  }
}
@media (min-width: 768px) {
  .top_title span {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .top_title span {
    font-size: 34px;
  }
}
@media (min-width: 1200px) {
  .top_title span {
    font-size: 34px;
  }
}
/*logo*/
.shadow {
  margin-top: 27px;
  box-shadow: -2px 2px 5px 0px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -webkit-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -o-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -ms-box-shadow: -2px 2px 5px 0px #d2d2d2;
}
/*红色星号*/
.remind2 {
  background: url('../../images/images_contactus/remind.png') no-repeat 35% 69%;
}
.remind3 {
  background: url('../../images/images_contactus/remind.png') no-repeat 21% 69%;
}
.remind4 {
  background: url('../../images/images_contactus/remind.png') no-repeat 5% 69%;
}
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
}
ul,
ol {
  padding: 0px;
}
.BG {
  background-image: linear-gradient(180deg, #fcfcfc 0px, #fcfcfc 150px, transparent 5px);
}
/*表单主体*/
.content {
  padding: 2%;
}
.content .row_top .signup {
  height: 100px;
  border: 2px solid #cfcdcd;
  background: #fff;
  display: flex;
  align-items: center;
  zoom: 1;
}
.content .row_top .signup:after {
  content: '';
  display: block;
  clear: both;
}
.content .row_top .signup:after {
  content: '';
  display: block;
  clear: both;
}
.content .row_top .signup img {
  margin-left: 6%;
  float: left;
}
.content .row_top .signup h2 {
  margin-left: 25px;
  font-size: 30px;
  color: #1da297;
  margin-top: 10px;
}
.bottom {
  border-left: 2px solid #cfcdcd;
  border-bottom: 2px solid #cfcdcd;
  border-right: 2px solid #cfcdcd;
  background: #fff;
}
.registerform {
  margin-top: 30px;
}
.registerform .A {
  margin-top: 5px;
}
.registerform .form-group label {
  font-family: "微软雅黑";
  font-weight: 500;
}
.registerform div input[type=button] {
  display: block;
  width: 80px;
  margin: 30px auto;
  border-color: #646464;
  background-color: #FFF;
}
.registerform div input[type=button]:hover {
  color: #fff;
  background-color: #40b5d3;
  border-color: #40b5d3;
}
.register-gray {
  font: 14px "微软雅黑";
  color: #d4d2d2;
}
.redstar {
  color: red;
  font-size: 20px;
  margin-right: 5px;
}
.Validform_checktip {
  overflow: visible;
}
/* 企业展示导航 */
.column {
  zoom: 1;
  margin-top: 35px;
}
.column:after {
  content: '';
  display: block;
  clear: both;
}
.column:after {
  content: '';
  display: block;
  clear: both;
}
.column .redbar,
.column span,
.column a {
  float: left;
}
.column .redbar {
  width: 6px;
  height: 46px;
  background-color: #c62f2f;
  margin-right: 5px;
}
.column span {
  font-size: 20px;
  line-height: 46px;
  margin-right: 20px;
}
.row_top {
  margin-top: 26px;
}
.box {
  /* 字体颜色 */
  margin-top: 27px;
  box-shadow: -2px 2px 5px 0px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -webkit-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -o-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -ms-box-shadow: -2px 2px 5px 0px #d2d2d2;
}
.box .right_head {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  height: 37px;
  border-bottom: 2px solid #e2e2e2;
}
.box .right_head .home {
  display: inline-block;
  display: inline;
  zoom: 1;
  margin-top: -3px;
}
.box .right_head .lh_index {
  font-size: 14px;
  font-family: "宋体";
  color: #000000;
  line-height: 22px;
  width: auto;
}
.box .right_head .lh_index a {
  color: #000000;
  padding-left: 5px;
  margin-top: 5px;
}
.btn_common1 {
  border-color: #646464;
  background-color: #FFF;
  color: #000;
}
.btn_common1:hover {
  color: #fff;
  background-color: #40b5d3;
  border-color: #40b5d3;
}
