@charset "utf-8";

/*内容部分背景颜色*/
/*阴影颜色*/
.content_body {
  background-color: #e2e2e2;
}
ul li {
  list-style: none;
}
.content_box {
  margin-top: 30px;
}
.kong {
  clear: both;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.content_header {
  float: left;
  border-left: solid #c62f2f 5px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  font-family: '微软雅黑';
}
.content_search {
  float: right;
  margin-top: -2px;
  font-family: '微软雅黑';
}
.third_home {
  margin-top: -5px;
}
.form_2 {
  width: 237px;
  height: 37px;
  border: solid 1px #2eb4a9;
  float: left;
  outline: none;
  padding-left: 10px;
  background-color: #e2e2e2;
}
.search_bg {
  width: 50px;
  height: 37px;
  background-color: #2eb4a9;
  border: 0;
  float: right;
}
.search_bg:hover {
  background-color: #109085;
}
.line {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
}
.public_shadow {
  box-shadow: 0px 0px 2px 2px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
}
.content_left {
  position: relative;
  display: block;
  padding-bottom: 5px;
  background-color: #f5f5f7;
}
.content_left a{
  color: #000000;

}
.list_first {
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  font-family: '微软雅黑';
}
.list_first img {
  margin-top: -2px;
  margin-left: 15px;
}

.list-group a {
  color: #000000;
  margin-left: 5%;
  width: 95%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: '微软雅黑';
  font-size: 18px;
  font-weight: 500;
}
.list_item1 {
  width: 95%;
  margin-left: 5%;
  background-color: #e6e7ea;
}
.list-group a:hover{
  text-decoration: none;
  border-left: solid #c62f2f 2.5px none;
}
.list-group a:active{
  border-left: solid #c62f2f 2.5px none;
}
.list-group a:focus{
  text-decoration: none;
  border-left: solid #c62f2f 2.5px none;
  outline:0;
}
.list-group a:visited{
  border-left: solid #c62f2f 2.5px none;

}
.list-group a:hover li{
  color: #c62f2f;
  border-left: solid #c62f2f 2.5px;
  margin-left: 4.6%;
}
.list_on{color: #c62f2f;
  border-left: solid #c62f2f 2.5px;
  margin-left: 4.6%;}
.right_head {
  margin-top: 10px;
}
.lh_index {
  font-size: 14px;
  font-family: "宋体";
  color: #000000;
  line-height: 22px;
  width: auto;
}
.lh_index a {
  color: #000000;
}
.right_line {
  margin-top: 10px;
  border-bottom: #f5f5f7 2px solid;
}
