@charset "utf-8";

.icon2 {
  margin-top: 25px;
  float: left;
}
.content_right {
  float: right;
  font-size: 18px;
  font-family: '微软雅黑';
}
.con_ul {
  width: 100%;
  padding-left: 0px;
}
.con_ul li a {
  width: 100%;
  float: left;
  font-size: 12px;
  margin-top: 12px;
  font-family: '宋体';
  color: #000000;
  font-weight: 200;
  text-overflow: clip;
}
.con_ul li a:hover {
  color: #c62f2f;
}
.con_ul div {
  width: 3px;
  height: 3px;
  background-color: #000000;
  float: left;
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;
}
.con_ul span {
  float: left;
  width: 85%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.con_h {
  float: right;
}

.img_info {
  margin-top: 20px;
}
.row_public{
  margin:20px 0;
}
.zixun_banner {
  background-color: #f5f5f5;
  margin-top:20px;
}
.zixun_banner img {
  width: 100%;
}
.zixun_banner .item .zixun_text {
  padding-left: 5px;
  padding-right: 5px;
}
.zixun_banner .item h5 {
  font-size: 20px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: auto;
  overflow: hidden;
  white-space: nowrap;
}
.zixun_banner .item a {
  color: #000;
}
.zixun_banner .item a:hover {
 text-decoration: none;
}
.zixun_banner .item img {
  padding-bottom: 14px;
}
.zixun_banner .item p {
  font-size: 14px;
  text-overflow: clip;
  overflow: hidden;
  height: 60px;
}
.img_banner {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 125px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.img_banner h4 {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  filter: alpha(opacity=50);
  position: static;
}
.distance_b {
  margin-bottom: 10px;
}
.tender_title {
  text-align: center;
  margin-bottom: 10px;
}
.tender_title span {
  font-size: 18px;
  font-weight: 900;
  color: #585858;
}
.font_color {
  color: #da6f6f;
}
.tender {
  color: #3bb8db;
  text-align: center;
  font-size: 18px;
  cursor: default;
}
.tender .tender_border {
  border: 2px solid #6fd1da;
}
.tender span,
.tender img {
  padding: 0px;
}
.tender img {
  padding-top: 10px;
}
.tender .tender_process {
  border: 2px solid #6fd1da;
  box-shadow: 2px 2px 4px 0px #5ac1ca;
  -moz-box-shadow: 2px 2px 4px 0px #5ac1ca;
  -webkit-box-shadow: 2px 2px 4px 0px #5ac1ca;
  -o-box-shadow: 2px 2px 4px 0px #5ac1ca;
  -ms-box-shadow: 2px 2px 4px 0px #5ac1ca;
}
.tender .active {
  border: 2px solid #da6f6f;
  box-shadow: 2px 2px 4px 0px #da6f6f;
  -moz-box-shadow: 2px 2px 4px 0px #da6f6f;
  -webkit-box-shadow: 2px 2px 4px 0px #da6f6f;
  -o-box-shadow: 2px 2px 4px 0px #da6f6f;
  -ms-box-shadow: 2px 2px 4px 0px #da6f6f;
  color: #da6f6f;
}
.tender_time a {
  font-size: 16px;
  margin-top: 5px;
}
.tender_time .active_time {
  color: #da6f6f;
}
.tender_img {
  text-align: center;
}
