@charset "utf-8";
#content_right{
  margin-top:80px;
}
.onicon{
  margin-top:-20px;
  padding-bottom:30px;
}
.onname{
  font-size: 24px;
  color:#000;
  margin-left:15px;
}
.job_info{
  margin-top:30px;
  margin-bottom:20px;
  font-size:18px;
  color:#000;
}
.infoline{
  width:3px;
  height:16px;
  background-color:#ff0000;
  float:left;
  margin-left:-30px;
  margin-top:3px;
}
.onsalary{
  margin-left:50px;
  font-size:18px;
  color:#ff0000;
}
.description .company_info{
  font-family: "微软雅黑";
}