@charset "utf-8";

.public_shadow {
  box-shadow: -2px 2px 5px 0px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
}
.content_box {
  margin-top: 30px;
}
.content_header {
  float: left;
  border-left: solid #c62f2f 5px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  font-family: '微软雅黑';
}
.content_search {
  float: right;
  margin-top: -2px;
  font-family: '微软雅黑';
}
.third_home {
  margin-top: -5px;
}
.form_2 {
  width: 237px;
  height: 35px;
  border: solid 1px #2eb4a9;
  float: left;
  outline: none;
  padding-left: 10px;
}
.search_bg {
  width: 50px;
  height: 35px;
  background-color: #2eb4a9;
  border: 0;
  float: right;
}
.search_bg:hover {
  background-color: #109085;
}
.line {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 2px;
  width: 100%;
  background-color: #e6e7ea;
}
.con_head {
  padding: 0;
}
.content_right {
  background-color: #ffffff;
}
.right_head {
  margin-top: 10px;
  height: 50px;
}
.third_home {
  margin-top: -5px;
  margin-left: 20px;
}
.lh_index {
  font-size: 14px;
  font-family: "宋体";
  color: #000000;
  line-height: 50px;
  width: auto;
}
.lh_index a {
  color: #000000;
}
.goods {
  margin-top: 20px;
}
.Details {
  padding: 0;
}
.detials_title {
  height: 50px;
  border-bottom: 1px solid #e6e7ea;
}
.detials_title span {
  font-family: "微软雅黑";
  font-size: 18px;
  font-weight: bold;
  color: #585858;
  line-height: 50px;
}
.detials_p {
  font-family: "微软雅黑";
  font-size: 14px;
  font-weight: Regular;
  color: #000000;
  margin-top: 5px;
}
.detials_p1 {
  color: #ff0000;
}
.detials_p2 {
  padding-bottom: 20px;
}
.pro_pic{
  float:right;
  margin-top:5px;
  box-shadow: -2px 2px 5px 0px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
}
