@charset "utf-8";

.shadow {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#7a7475', Direction=135, Strength=10);
  /*for ie6,7,8*/
  -moz-box-shadow: -2px 2px 5px #7a7475;
  /*firefox*/
  -webkit-box-shadow: -2px 2px 5px #7a7475;
  /*webkit*/
  box-shadow: -2px 2px 5px #7a7475;
  /*opera或ie9*/
}
.enterprise {
  font-family: "微软雅黑";
  color: #000000;
  margin-bottom: 20px;
}
.enterprise .img-responsive {
  border-radius:10px 10px 0 0;
  width: 100%;
  height:250px;
}
.enterprise h4 {
  font-size: 14px;
  font-family: "微软雅黑";
  margin: 5px 0;
}
.enterprise .E-commerce {
  font-size: 11px;
  font-family: "微软雅黑";
}
.enterprise a {
  color: #000000;
}
.enterprise .box_shadow {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#7a7475', Direction=135, Strength=10);
  /*for ie6,7,8*/
  -moz-box-shadow: -2px 2px 5px #7a7475;
  /*firefox*/
  -webkit-box-shadow: -2px 2px 5px #7a7475;
  /*webkit*/
  box-shadow: -2px 2px 5px #7a7475;
  /*opera或ie9*/
  position: relative;
}

.enterprise #large {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.enterprise .enterprise_detail {
  background: #ffffff;
  margin-left: 0px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='@enterprisec', Direction=135, Strength=10);
  /*for ie6,7,8*/
  background-color: #fff;
  -moz-box-shadow: -2px 2px 5px #7a7475;
  /*firefox*/
  -webkit-box-shadow: -2px 2px 5px #7a7475;
  /*webkit*/
  box-shadow: -2px 2px 5px #7a7475;
  /*opera或ie9*/
}
.enterprise .redline .solid1 {
  border-bottom: 3px solid #d73455;
  overflow: hidden;
}
.enterprise .redline .dashed1 {
  border-bottom: 3px dashed #d73455;
  overflow: hidden;
}
.enterprise .belong {
  color: #c3c3c3;
}
.footer .container {
  margin-top: 0px;
}
.tipinfo{
  margin-top:10%;
  margin-left:25%;
  height:400px;
  background:url(../../images/images_common/tipsinfo.png) no-repeat;
  background-size:324px 348px;
}
.infoo{
  font-size:20px;
  position: relative;
  top:150px;
  left:80px;
}
/* 企业展示导航 */
.column {
  zoom: 1;
}
.column:after {
  content: '';
  display: block;
  clear: both;
}
.column .redbar,
.column span,
.column a {
  float: left;
}
.column .redbar {
  width: 6px;
  height: 46px;
  background-color: #d73455;
  margin-right: 5px;
}
.column span {
  font-size: 20px;
  line-height: 46px;
  margin-right: 20px;
}
.column a {
  font-size: 18px;
  border-color: #00ccff;
  margin-top: 3.5px;
  margin-right: 15px;
  color: black;
}
.column .active {
  border-color: #d73455;
}
.wrapper {
  background: #fff;
}
.enterprise_search {
  height: 40px;
  margin-top: 18px;
}
.enterprise_search .search_input {
  height: 40px;
  border: 1px solid #2eb4a9;
  background: #e2e2e2;
}
.enterprise_search .btn_search {
  height: 40px;
  width: 40px;
  background: #2eb4a9;
  border: 1px solid #2eb4a9;
  padding: 0 0;
  border-radius: 0;
}
.enterprise_search .btn_search:hover {
  background: #109085;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

