@charset "utf-8";
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
}
.header_f {
  float: left;
}
.header_r {
  float: right;
}
.shadow {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#7a7475', Direction=135, Strength=10);
  /*for ie6,7,8*/
  -moz-box-shadow: -2px 2px 5px #7a7475;
  /*firefox*/
  -webkit-box-shadow: -2px 2px 5px #7a7475;
  /*webkit*/
  box-shadow: -2px 2px 5px #7a7475;
  /*opera或ie9*/
}
.top_two {
  margin-top: 35px;
}
/* 培训通知左边框颜色 */
.notice {
  border-left: 5px #c62f2f solid;
}
.notice a {
  font-family: "微软雅黑";
  font-size: 24px;
  font-weight: 'Regular';
  color: black;
}
.nav_1 > li > a {
  position: relative;
  display: block;
  padding: 3px 0 ;
}
.nav_1 > li > a:hover {
  background-color: #fff;
}
.classify {
  width: 120px;
  height: 31px;
  padding-left: 15px;
  margin-top: 3px;
}
.row_display {
  display: none;
}
/* 边框变化前的颜色 */
/* 边框变化后的颜色 */
.classify a {
  font-family: "微软雅黑";
  font-size: 18px;
  color: black;
  border: 1px #16d0ff solid;
  text-align: center;
}
.classify a:hover {
  border: 1px #d73455 solid;
}
.classify1 {
  width: 120px;
  height: 31px;
  padding-left: 15px;
  margin-top: 3px;
}
.classify1 a {
  font-family: "微软雅黑";
  font-size: 18px;
  color: black;
  border: 1px #16d0ff solid;
  text-align: center;
}
.classify1 a:hover {
  border: 1px #d73455 solid;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.column_mt {
  margin-top: 15px;
}
/* 企业展示导航 */
.column {
  zoom: 1;
}
.column .nav-tabs {
  border: none;
}
.column:after {
  content: '';
  display: block;
  clear: both;
}
.column .redbar,
.column span,
.column a {
  float: left;
}
.column .redbar {
  width: 6px;
  height: 46px;
  background-color: #d73455;
  margin-right: 5px;
}
.column span {
  font-size: 20px;
  line-height: 46px;
  margin-right: 20px;
}
.column a {
  font-size: 18px;
  border-color: #00ccff;
  background-color: #ffffff;
  margin-top: 3.5px;
  margin-right: 20px;
}
.column .btn-default:focus,
.column .btn-default:active,
.column .btn-default.active {
  border-color: #d73455;
  background: #ffffff;
}
.column .btn-default {
  background: #ffffff;
  border-color: #00ccff;
}
.pagination > li > a {
  border: 1px solid #b5b5b5;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #d73455;
  background-color: #fff;
  border-color: #d73455;
}
/* 正文背景 */
/* 页码颜色 */
hr {
  margin-top: 10px;
  border: 0;
  border-top: 1px solid #e4e4e4;
  width: 90%;
  margin-left: 15px;
}
.boxS {
  border: 2px #dddad1 solid;
  background-color: #ffffff;
  border-radius: 4px;
  height: 320px;
  margin-top: 28px;
}
.content .boxS h1 {
  font-size: 20px;
  font-family: "微软雅黑";
  margin: 20px 15px;
}
.content .boxS .text {
  float: left;
}
.content .boxS .text .time {
  margin-left: 18px;
}
.content .boxS .text p {
  font-family: "微软雅黑";
  font-size: 14px;
  margin-left: 18px;
  margin-top: 5px;
}
.content .boxS .down {
  position: absolute;
  bottom: 10px;
  right: 30px;
}
.content .boxS .btn_common1 {
  position: absolute;
  bottom: 10px;
  right: 30px;
  background-color: #40b5d3;
  color: #fff;
}
.content .boxS .btn_common1:hover {
  color: #fff;
  background-color: #40b5d3;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  border-color: #40b5d3;
}
.content .boxS .btn_common2 {
  position: absolute;
  bottom: 10px;
  right: 30px;
  border-color: #b5b5b5;
  background-color: #b5b5b5;
  color: #fff;
  cursor: default;
}
/* 详情颜色 */
.content .boxS .text p.detail {
  margin-left: 5%;
}
.content .boxS .text a {
  font-family: "微软雅黑";
  font-size: 16px;
  color: #d73455;
}
.row_page {
  margin-top: 20px;
}
.pagination li a {
  margin-left: 10px;
  border-radius: 6px;
  color: #000000;
}
.pagination li a.fen {
  border-style: none;
}
.home {
  display: inline-block;
  display: inline;
  zoom: 1;
  margin-top: -3px;
}
/* 字体颜色 */
/* 字体变化颜色 */
.right_head {
  margin-top: 10px;
  height: 37px;
  padding: 0px 15px;
}
.lh_index {
  font-size: 14px;
  font-family: "宋体";
  color: #000000;
  line-height: 22px;
  width: auto;
}
.lh_index a {
  color: #000000;
  padding-left: 5px;
}
/* 进度条 */
/* 已经完成的颜色 */
/* 未完成的颜色 */
/* 内环背景颜色 */
.circle {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 80px;
  right: 30px;
  border-radius: 50%;
  background: #ff7575;
}
.pie_left,
.pie_right {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
.left1,
.right1 {
  width: 150px;
  height: 150px;
  background: #d9d9d9;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
/* clip剪切图片 */
.pie_right,
.right1 {
  clip: rect(0 auto auto 75px);
  /* IE4 to IE7 */
  clip: rect(0, auto, auto, 75px);
  /* IE8 &other browsers */
}
.pie_left,
.left1 {
  clip: rect(0 75px auto 0);
  /* IE4 to IE7 */
  clip: rect(0, 75px, auto, 0);
  /* IE8 &other browsers */
}
.mask {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  left: 30px;
  top: 30px;
  background: #ffffff;
  position: absolute;
  text-align: center;
  line-height: 90px;
  font-size: 16px;
  font-weight: bold;
  color: #ff7575;
}
