@charset "utf-8";
.shadow {
  margin-top: 27px;
  box-shadow: -2px 2px 5px 0px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -webkit-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -o-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -ms-box-shadow: -2px 2px 5px 0px #d2d2d2;
}
/*红色星号*/
.remind2 {
  background: url('../../images/images_contactus/remind.png') no-repeat 35% 69%;
}
.remind3 {
  background: url('../../images/images_contactus/remind.png') no-repeat 21% 69%;
}
.remind4 {
  background: url('../../images/images_contactus/remind.png') no-repeat 5% 69%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  content: '';
  display: block;
  clear: both;
}
ul,
ol {
  padding: 0px;
}
/*表单主体*/
.content {
  margin-top: 27px;
  box-shadow: -2px 2px 5px 0px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -webkit-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -o-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -ms-box-shadow: -2px 2px 5px 0px #d2d2d2;
  padding: 2%;
  /*表单头部快速导航*/
}
.content .nav_s {
  margin-left: 15px;
  background: url('../../images/images_contactus/home.png') no-repeat 0 50%;
  padding-left: 25px;
  font-family: '宋体';
}
.content .nav_s span a {
  color: #000;
}
.registerform {
  margin-top: 30px;
}
.registerform div input[type=submit] {
  display: block;
  width: 80px;
  margin: 30px auto;
}
.register-gray {
  font: 14px "微软雅黑";
  color: #d4d2d2;
}
.redstar {
  color: red;
  font-size: 20px;
  margin-right: 5px;
}
.column {
  margin-top: 30px;
  zoom: 1;
}
.column:after {
  content: '';
  display: block;
  clear: both;
}
.column .redbar,
.column span,
.column a {
  float: left;
}
.column .redbar {
  width: 6px;
  height: 46px;
  background-color: #d73455;
  margin-right: 5px;
}
.column span {
  font-size: 20px;
  line-height: 46px;
  margin-right: 20px;
}
.Validform_checktip {
  overflow: visible;
}
.leftsidebar {
  margin-top: 27px;
  box-shadow: -2px 2px 5px 0px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -webkit-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -o-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -ms-box-shadow: -2px 2px 5px 0px #d2d2d2;
  padding-top: 5px;
  text-align: center;
  background-color: #ffffff;
}
.leftsidebar .head_icon {
  display: block;
  margin: 30px auto;
}
.leftsidebar .idname {
  font: 16px "微软雅黑";
}
.leftsidebar_list {
  list-style: none;
  text-decoration: none;
  padding-top: 40px;
}
.leftsidebar_list li {
  height: 45px;
  line-height: 45px;
}
.leftsidebar_list li:hover {
  border-left: 3px solid #1c8bd9;
  margin-left: -3px;
  background-color: #e6e7ea;
}
.leftsidebar_list li a {
  color: #444444;
  font-size: 18px;
  text-decoration: none;
}
.leftsidebar_list li a:hover {
  color: #1c8bd9;
}
.leftsidebar_list .sidebar_li a {
  color: #c62f2f;
}
.sidebar_li {
  margin-top: 40px;
  background: url('../../images/images_contactus/bar.jpg') no-repeat 0 50%;
}
.account-tab {
  padding-left: 30px;
  margin-top: 27px;
  box-shadow: -2px 2px 5px 0px #d2d2d2;
  -moz-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -webkit-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -o-box-shadow: -2px 2px 5px 0px #d2d2d2;
  -ms-box-shadow: -2px 2px 5px 0px #d2d2d2;
  padding-top: 0px;
}
.account-tab li {
  float: left;
  list-style: none;
  width: 80px;
  padding: 1%;
  text-align: center;
  cursor: pointer;
}
.account-tab .tab_active {
  box-shadow: 5px 2px 5px 0px #d2d2d2 inset;
}
